.doorframe {
  
  background: #fff url() no-repeat 50%;
  background-size: cover;
  border: 2px solid brown;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;
  display: flex;
  height: 1032px;
 
  perspective: 1200px;
  transform-style: preserve-3d;
  width: 501px;
}
.center-container {

  position: relative;
    height: 100vh;
}
.center-image {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.doorframe1 {
  
  background: #fff url() no-repeat 50%;
  background-size: cover;
  border: 2px solid brown;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;
  display: flex;
  height: 1032px;
  
  perspective: 1200px;
  transform-style: preserve-3d;
  width: 501px;
}


  
  .door {
    background: darkred url(/assets/LeftDoor.png) no-repeat 50%;
    background-size: 100% 100%;
    flex-grow: 1;
    position: relative;
    transform-origin: left center;
    transition: all 3s;
}
   
  
  .door1 {
    background: darkred url(/assets/RightDoor.png) no-repeat 50%;
    background-size: 100% 100%;
    
    flex-grow: 1;
    position: relative;
    transform-origin: right center;
    transition: all 3s;
}
   


  .door:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

  }

  .door1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

  }
  
  .doorframe:focus .door,
  .doorframe:hover .door {
    transform: rotate3d(0, 1, 0, -130deg);
  }
  
  .doorframe1:focus .door1,
  .doorframe1:hover .door1 {
    transform: rotate3d(0, 1, 0, 130deg);
  }
 .parent
 {
  background:  black url(/assets/لال.jpeg) no-repeat center center ;
      background-size: cover;
      transition: opacity 0.5s ease; 
      opacity: 1; 
      
 }
 @media  screen and (min-width: 768px)  {
  .doorframe1 {
    width: 335px !important;
    height: 703px !important;
  }
  .doorframe {
    width: 335px !important;
    height: 703px !important;
  }

}
 /* @media  screen and (min-width: 768px)  {
  .doorframe1 {
    width: 261px !important;
    height: 635px !important;
  }
  .doorframe {
    width: 261px !important;
    height: 635px !important;
  }

} */
 @media  screen and (min-width: 1690px)  {
  .doorframe1 {
    width: 373px !important;
    height: 839px !important;
  }

  .doorframe {
    width: 373px !important;
    height: 839px !important;
}

}
 @media  screen and (min-width: 1943px)  {
  .doorframe1 {
    width: 422px !important;
    height: 884px !important;
  }

  .doorframe {
    width: 422px !important;
    height: 884px !important;
}

}

 /* @media  screen and (min-height: 1040px) and (max-width: 1175px)   {
  .doorframe1 {
    width: 397px !important;
    height: 808px !important;
}

.doorframe {
  width: 397px !important;
  height: 808px !important;
}


  } */


